#page-title{
  margin-top: 10px;
}

h4{
  height: 50px;
  background-color: gray;
}

form {
  background-color: white;
  color: black;
}

.form-search{
  margin: auto;
  width: 75%;
  text-align: center;
}

input {
  background-color: white;
  border-color: white;
  border-style: none;
}

fieldset {
  background-color: lightgrey;
}
label {
  background-color: lightgrey;
}

span {
  background-color: lightgrey;
}

button {
  background-color: black;
  border-color: black;
  color: white;
}
