<div>
  <div>
    <h2 id="page-title"><a href="./index">Best Books</a></h2>
    <div id="menuToggle">
      <nav>
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
      <li><a href="./searches/new">New Search</a></li>
      <li><a href="./books">Bookshelf</a></li>
      <li><a href="./books/detail">Add Details</a></li>
      </ul>
      </nav>
    </div>
  </div>
</div>